# Pandas Series

A pandas Series is a one-dimensional array. It holds any data type supported in Python and uses labels to locate each data value for retrieval. These labels form the index, and they can be strings or integers. A Series is the main data structure in the pandas framework for storing one-dimensional data

In [12]:
import numpy as np
import pandas as pd

The pandas series takes in a index and the data

The index by default unless specified is 0,1,2,3,4,5,....
The data type is what we input.

In [5]:
index = ['a','b','c']
data = [10,12,14]
pd.Series(data=data,index=index)

a    10
b    12
c    14
dtype: int64

In [9]:
my_data = {'a':10,'b':20,'c':30}
pd.Series(my_data)

a    10
b    20
c    30
dtype: int64

#### Creating a Series out of a numpy array

In [14]:
arr = np.array(data)
pd.Series(arr,index)

a    10
b    12
c    14
dtype: int64

### The above examples we have not specified data and index explicitly.

#### In the below example we have just passed in a dictionary as a parameter into the Series object

In [16]:
dicts = {'a':23,'b':'ball','c':'cat','d':'dog'}
pd.Series(dicts)

a      23
b    ball
c     cat
d     dog
dtype: object

# Grabbing data from a series

In [31]:
#ser1 = pd.Series(['Washington DC','Berlin','Moscow','Tokyo'],['US','GERMANY','Russia','JAPAN'])
ser1 = pd.Series([1,2,3,4],['US','GERMANY','Russia','JAPAN'])
ser1

US         1
GERMANY    2
Russia     3
JAPAN      4
dtype: int64

In [32]:
# ser2 = pd.Series(['Washington DC','Berlin','Rome','Tokyo'],['US','GERMANY','ITALY','JAPAN'])
ser2 = pd.Series([1,2,3,4],['US','GERMANY','ITALY','JAPAN'])
ser2

US         1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [29]:
ser2["US"]

1

## Adding two Series

In [33]:
ser1+ser2
#WHere it cannot find common values, it will make it as NaN

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
Russia     NaN
US         2.0
dtype: float64